{{template "header" .}}

	<div class="container">
		<p><a href="akses/tambah" class="btn btn-primary" role="button" aria-pressed="true">Tambah</a></p>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nama Akses</th>
					<th scope="col">Deskripsi</th>
					<th scope="col">Aksi</th>
				</tr>
			</thead>
			<tbody>
	   			{{range .Aksess}}
					<tr>
						<td>{{.Nama_akses}}</td>
						<td>{{.Deskripsi}}</td>
						<td>
							<a href="akses/ubah/{{.Id_akses}}" class="btn btn-success" role="button" aria-pressed="true">Ubah</a>
							<a href="akses/hapus/{{.Id_akses}}" class="btn btn-danger" role="button" aria-pressed="true">Hapus</a>
						</td>
					</tr>
	    		{{end}}
			</tbody>
		</table>
	</div>
	
{{template "footer" .}}