{{define "header"}}

	<!doctype html>
	<html lang="en">
		<head>
			<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="/asset/css/bootstrap.min.css">
			<link rel="stylesheet" href="/asset/css/custom.css">

			<title>{{.Page_title}}</title>			
		</head>

		<body>

			<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
				
				<a class="navbar-brand" href="/">TES KUDO</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						{{if (eq .Is_login false)}}
							<li class="nav-item">
								<a class="nav-link" href="/masuk">Masuk</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/daftar">Daftar</a>
							</li>
						{{else}}
							<li class="nav-item">
								<a class="nav-link" href="/profil">Profil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/grup">Grup</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/akses">Akses</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/keluar">Keluar</a>
							</li>
						{{end}}
					</ul>
				</div>
			</nav>
{{end}}